{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Tags</h1>
        <a class="btn btn-primary" href="{% url 'todo:tag-create' %}">Add</a>
    </div>
    {% if tag_list %}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for tag in tag_list %}
                <tr>
                    <td>
                        {{ tag.name }}
                    </td>
                    <td>
                        <a class="btn btn-secondary" href="{% url 'todo:tag-update' pk=tag.pk %}">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-secondary" href="{% url 'todo:tag-delete' pk=tag.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>There no tags in database!</p>
    {% endif %}
{% endblock %}
